.catalogNavbar{
    height: 4rem;
    width: 100%;
    background-color:white;
   
    display: flex;
    justify-content: space-around;
}
.logo{
    height: 4rem;
    width: 4rem;
   
}
.innerBoxNav{
    width: 30rem;
    display: flex;
    gap: 2.5rem;
 
}
.innerLogoBoxNav{

    width: 6rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
}
.catalogBox{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 /* border: 2px solid black; */
gap: 2rem;
/* font-weight: bold; */
}
.catalogText{
    color: #00a59e;
}
.poBox{
    height: 4rem;
    width: 55%;
    /* border: 1px solid teal; */
    display: flex;
    align-items: center;
    gap: 0;
    
}
.historyDropdown{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.historyDropdownMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 4rem;
    border: 1px solid #d0d5dc;
    border-radius: 5px;
    padding:0.5rem;
    box-sizing: border-box;
}
.help{
    border: 2px solid #1b7a76;
    color: #1b7a76;
    height: 2rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 1rem;
}
.IconBoxes{
    height: 2.3rem;
    width: 12rem;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #787a7c;
    font-weight: bold;
    
}
.avtar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}