.crauselContainer {
  height: 30rem;
  width: 100%;
  border: 1px solid red;
}

.bestSeller {
  height: 16rem;
  width: 90%;

  border-radius: 5px;
  margin: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 3rem;
}

.bestBox {
  height: 2rem;
  width: 100%;

  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.seemorebox {
  color: #169e97;
  display: flex;
}
.seemorebox:hover {
  cursor: pointer;
}
.bestEachBox {
  height: 12rem;
  width: 85%;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bestEachBoxes {
  height: 11rem;
  width: 90%;
  border: 1px solid #d0d5dc;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-left: 1rem !important;
}
.bestImageBox {
  height: 8.5rem;
  border-radius: 10px;
}
.bestImageText {
  height: 2rem;
  /* border: 1px solid red; */
  color: #787a7c;
  font-weight: bold;
}
.bestImages {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.singleSliderImage {
  width: 100%;
  height: 100%;
  margin: auto;
}

.mainBox {
  height: 28rem;
  width: 100%;
  /* border: 1px solid red; */
  padding-bottom: 3rem;
  box-sizing: border-box;
  margin: auto;
}

.allproductsBox {
  /* height: 28rem; */
  width: 100%;
  /* border: 1px solid red; */
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  box-sizing: border-box;
}
.allProductDataBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {
  .bestEachBox {
    width: 90%;
    flex-direction: column;
  }

  .bestEachBoxes {
    margin-left: 0; /* Reset margin */
  }

  .allProductDataBox {
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
  }
  .mainBox {
    height: auto;
    width: 100%;
  }
  .bestSeller {
    height: auto;
    width: 100%;
  }
  .allproductsBox {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .allProductDataBox {
    height: auto;
    width: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .mainBox {
    height: auto;
    width: 100%;
  }
  .bestSeller {
    height: auto;
    width: 100%;
  }
  .allproductsBox {
    height: auto;
    width: 100%;
  }
}
