.footerBox{
    height: 12rem;
    width: 100%;
    /* background-color: white;
    border: 1px solid red; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.peopleBox{
    height: 3rem;
    width: 20rem;
    /* border: 1px solid red; */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #383f47;
}
.footBox1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    height: 3.5rem;
}
.footEachBox{
    border: 1px solid #19e7cf;
    background-color: #eef7f6;
    color: #545d68;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}